__pycache__/
instance/
*.pyc
.DS_Store
static/images/*.png
static/images/*.jpg
static/images/*.jpeg
static/images/*.gif
static/images/*.webp
!static/images/logo.png
!static/images/apple-touch-icon.png
!static/images/icon-192.png
!static/images/icon-512.png
